body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  p {
    margin-bottom: 0px;
  }
  
  ul {
    margin: 0;
  }

  dt, dd {
    margin: 1px 0px;
  }

  dt {
    float: left;
    text-align: left;
  }

  .bike-header-margin {
    margin-top: 110px;
  }

  .resume-header-margin {
    margin-top: 50px;
  }

  .profile_img_margin {
    margin-left: 60px;
  }

  .list-item {
    margin-left: 5%;
    width: 45%;
  }

  .header-panel {
    margin-bottom: 25px;
  }

  .column-panel {
    margin-bottom: 20px;
  }

  .column-panel-skills {
    margin-bottom: 0px;
  }

  .text-resume-position {
    font-size: 85%;
    font-weight: 300;
    text-decoration: underline;
  }

  .text-resume-body {
    font-size: 85%;
  }

  .text-resume-date {
    font-size: 75%;
    font-weight: 300;
  }

  .bg-steel {
    background-color: #be8743;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .btn:hover{
    background-color: #b84a17;
    border-color: #b84a17;
  }

  .btn-info {
    background-color: #b84a17;
    border-bottom-color: #b84a17;
    border-top-color: #b84a17;
    border-left-color: #b84a17;
    border-right-color: #b84a17;
  }
  .btn.btn-success {
    color: #b84a17;
    background-color:  #ffffff;
    border-color: #b84a17;
  }
  .btn.btn-success:hover{
    color: #ffffff;
    background-color:  #b84a17;
    border-color: #b84a17;
  }
  .btn.btn-success:active:focus,
  .btn.btn-success:active:hover {
    color: #ffffff;
    background-color: #b84a17;
    border-color: #b84a17;
  }

  .btn-outline-info {
    color: #b84a17;
    border-color: #b84a17;
  }

