{% extends "frontpage/base.html" %}
{% block content %}
<img src="https://i.imgur.com/grrTuZh.jpg" 
     class="img-fluid rounded-circle float-right"
     alt="YouTube to Audio"
     style="border:2px solid black"
     width="150">
<h1>{{ title.title }}</h1>
<br>
<br>
<dl class="row">
  <dt class="col-sm-3 header-panel"><h3>Work Experience</h3></dt>
  {% for experience in work_experience %}
    <dd class="col-sm-12 list-item">
      <dl class="row">
        <dt class="col-sm-4">
        <p>{{ experience.company }}</p>
        <p class="text-resume-position">{{ experience.position }}</p>
        <p class="text-resume-date">{{ experience.date }}</p>
        </dt>
        <ul class="col-sm-7 column-panel list-group row">
        {% for accomplishments in experience.body%}
            <li class="item text-resume-body">{{ accomplishments }}</li>
        {% endfor %}
        </ul>
      </dl>
    </dd>
  {% endfor %}
</dl>
{% endblock content %}