{% extends "frontpage/base.html" %}
{% block content %}
<h1>{{ title.title }}</h1>
<img src="https://avatars2.githubusercontent.com/u/48743671?s=460&u=db379598ae69fb7ffa845207d45817ebef0b1dcb&v=4" 
     alt="YouTube to Audio"
     style="border:5px solid black">
<br>
<br>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 font-weight-bold">Top-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
      odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
      Donec lacinia congue felis in faucibus.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
<p align="left">
</p>
</div>
{% endblock content %}